# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.vscode
.env
.pnpm-lock.yaml
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files

# VSC
.history
